* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.timebox {
  display: flex;
  gap: 90px;
}

.time {
  text-align: center;
}

.num {
  font-weight: 100;
  font-size: 120px;
}

.p {
  font-size: 40px;
}