
body {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--color-light);
  overflow: hidden;
  perspective: 2000px;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  width: 140rem;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
  transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg) scale(1.25);
  zoom: 110%;
}

#container:after,
#container:before {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

#container:before {
  z-index: 2;
  background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
  background-size: 5%;
  background-repeat: repeat;
  opacity: 0.25;
}

#container:after {
  z-index: 3;
  background: radial-gradient(
    circle,
    transparent 25%,
    (var(--color-lighter) 80%
  ));
}

.tile {
  border: 1px solid var(--color-lighter);
  transition: background-color 1500ms;
}

.tile:hover {
  transition-duration: 0ms;
}

.tile:nth-child(4n):hover {
  background-color: var(--color-darkest);
}

.tile:nth-child(4n + 1):hover {
  background-color: var(--color-lighter);
}

.tile:nth-child(4n + 2):hover {
  background-color: var(--color-dark);
}

.tile:nth-child(4n + 3):hover {
  background-color: var(--color-lighter);
}

.tile:nth-child(7n):hover {
  background-color: var(--color-dark);
}

.tile:nth-child(7n + 3):hover {
  background-color: var(--color-darker);
}

.tile:nth-child(7n + 5):hover {
  background-color: var(--color-darkest);
}

.tile:nth-child(7n + 6):hover {
  background-color: var(--color-darker);
}

.tile:nth-child(11n + 1):hover {
  background-color: var(--color-medium);
}

.tile:nth-child(11n + 4):hover {
  background-color: var(--color-lighter);
}

.tile:nth-child(11n + 7):hover {
  background-color: var(--color-medium);
}

.tile:nth-child(11n + 10):hover {
  background-color: var(--color-lighter);
}

/* -- Links -- */

#links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  padding: 1rem;
}

.meta-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meta-link > :is(span, a) {
  font-size: 1.25rem;
  color: white;
}

.meta-link > .label {
  text-align: right;
}

.meta-link > a {
  text-decoration: none;
  outline: none;
}

.meta-link > a.source {
  color: rgb(94, 106, 210);
}

.meta-link > a:is(:hover, :focus) > i {
  color: white;
}

.meta-link > a.youtube {
  color: rgb(239, 83, 80);
}

.meta-link > a.youtube > i {
  padding-top: 0.2rem;
}

.meta-link > a > i {
  height: 1rem;
  line-height: 1rem;
}

/* make sure the grid fills the whole viewport */
.interactive-grid-wrapper {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

/* ensure the container stays centered correctly */
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(50deg) rotateY(-5deg) rotateZ(20deg)
    scale(1.25);
}



