@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Yeseva One', serif;  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


main, .page-container {
  padding-top: 4.5rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}